<h1>Maligayang Pagdating sa Pesbuk, <%= @user.email %>!</h1>

<p>
  Salamat sa pagsali sa aming maliit na community. Log in ka lang anytime using the link below:
</p>

<p>
  <%= link_to "Sign in", @url %>
</p>

<p>
 Nawa'y mmag enjoy ka sa Pesbuk!
</p>
